@CHARSET "UTF-8";

/** 영화관 목록**/
#theaterlist{
	width: 100%; height: 300px;
	padding-left: 15%; padding-right: 10%; padding-top: 50px;
	background-color: #333333;
	color: white;
}
.theaterlist_region{
	width: 14%;
	float: left;
	padding-bottom: 10px;
}
.theaterlist_branchname{
	width: 84%;
	float: right;
	padding-bottom: 10px;
	color: #bcbcbc;
}


#footer_content{
	background-color: #221f1f;
	width: 100%; height: 230px;
	padding-top: 50px; padding-left: 100px;
	font-size: 12px; color: #bcbcbc;
}
#content_left{
	float: left;
 	padding-top: 5px;
	width: 120px; height: 200px;
}
#content_center{
	width: 600px;
	height: 200px;
}
#content_right{
	float: right;
	width: 180px; height: 200px;
}






