<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias type="megabox.com.mvc.vo.MemberVO" alias="member"></typeAlias>
	</typeAliases>

	<mappers>
		<mapper resource="mapperMember.xml"  />
		<mapper resource="mapperLogmap.xml"/>
	</mappers>
	
</configuration>
